.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Header */
.ColItems1 {
  position: relative;
  
}
.ColItems2 {
  position: relative;
  top: -62px;
  left: 18%;
}
.ColItems3 {
  position: relative;
  top: -123px;
  left: 75%;
}

/* main */
.boxMain {
  width: 100%;
  height: 100%;
}
.boxLeft {
  width: 15%;
  height: 100%;
  background-color: #22668a;
  margin: 0px 20px 0px 0px;
}
.boxJustify {
  width: 60%;
  height: 100%;
  background-color: #22668a;
}
.paginate {
  padding-left: 10px;
  padding-right: 10px;
}
.boxRight {
    width: 25%;
    height: 100%;
    background-color: #22668a;
    margin: 0px 0px 0px 20px;
    padding: 4px;
}
.boxTool {
  display: flex;
}
.bodyBox {
margin: 0!important;
}
.img {
  height: 60%;
  width: 100%;
}
.mainCard {
  padding-top: 1rem;
  padding-bottom: 1rem;
position: relative;
display: grid;
grid-template-columns: repeat(3, minmax(0, 1fr));
gap: 1rem;
}
.cartCard {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.cartCard > * + * {
  margin-left: 1.5rem; /* Adjust this value to set the desired horizontal gap */
}
.cartCardItem {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.cartCardItem > * + * {
  margin-left: 1.5rem; /* Adjust this value to set the desired horizontal gap */
}
.cartCardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination-container {
  padding-top: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
}